   
    html {
    font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
    font-size: 14px; /* fuente tamaño menu */ 
    }
    bod, html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-color: var(--color-gray-50);
    }

    form{
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    max-height: max-content;
    }

    .form-item {
      display: flex;
      align-items: center; /* Alinea las etiquetas con los campos verticalmente */
    }

    .form-container {
    display: flex;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--color-blue-100);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    }

    .form-container h2 {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 25px;
    }    
    .form-group {  
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
    }

    .form-group-faceta {      
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    }

    .form-group-textarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: nowrap;
    }

    .form-group-inline {
      display: flex;
      align-items: center;
      flex-direction: column; 
      text-align: center;	
    }
    .form-group-inline label {
      margin: 0;
    }

    label {
    display: block;
    min-width: min-content;
    color: var(--color-gray-700);   
    }
    
    input[type="text"]{    
    flex-grow: 1;
    padding: 5px;
    font-size: 12px;
    width: -webkit-fill-available;
    border: 1px solid var(--color-gray-200);
    height: 40px;
    max-width: min-content;
    margin-top: 10px;
    margin-top: 10px;
    }

    input[type="email"]{    
      flex-grow: 1;
      padding: 5px;
      font-size: 12px;
      width: -webkit-fill-available;
      border: 1px solid var(--color-gray-200);
      height: 40px;
      max-width: min-content;
      margin-top: 10px;
      margin-top: 10px;
      }

    textarea {
    flex-grow: 1;
    padding: 5px;
    font-size: 12px;
    width: -webkit-fill-available;
    border: 1px solid var(--color-gray-200);
    height: 50px;
    max-width: 300px;
    }

   
    input[type="checkbox"] {
      width: 100%;
      transform:scale(1.5);  
      margin-top: 10px; 
      border: 1px solid var(--color-blue-600);
      border-radius: 0px;
    }
    input[type="checkbox"]:checked {
    accent-color: var(--color-blue-500); /* Cambia el color del check */
    }
   
    input[type="submit"] {
    width: -webkit-fill-available;
    background-color: var(--color-blue-600);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    }

    input[type="submit"]:hover {
      background-color: var(--color-blue-700);
    }
/* MENU DE PAGINA*/
 menu {
      margin-top: 0%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #f2f2f2;
      padding: 10px 0px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 9px;
      color: #a7a5a5;
      border-bottom: 1px solid #dadce0;
    }
    menu a {
      color: #2d4a94;
      text-decoration: none;
    }
    menu a:hover {
      text-decoration: underline;
    }

/* FOOTER O PIE DE PAGINA    */
   footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f2f2f2;
      padding: 10px 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 9px;
      color: #a7a5a5;
      border-top: 1px solid #dadce0;
    }
    footer a {
      color: #2d4a94;
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }
    select {
      outline: none; /* Elimina el borde por defecto del navegador */
      transition: border-color 0.3s ease; /* Añade una transición suave para el borde */

      appearance: none; /* Elimina el estilo por defecto del select */
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 0.1pt solid var(--color-gray-200); /* Borde estándar */
      padding: 10px;
      font-size: 12px;
      border-radius: 0px; /* Bordes rectos */
      background-color: white;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><polygon points="0,0 5,6 10,0" style="fill: %238ba3cc;"/></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 12px; /* Tamaño de la flecha */
      width: 225px;
      margin: 5px;
    }
   
/* Ajusta el tamaño de la flecha y la posición del padding para que no se superponga al texto */
    select:focus {
      border-color: var(--color-blue-100); /* Color del borde al enfocar */
      outline: none; /* Asegura que no haya borde adicional */
      box-shadow: 0 0 5px rgba(238, 239, 240, 0.5); /* Añade un pequeño resplandor (opcional) */
    }

/* Asegurarse de que el padding derecho no tape la flecha */
    select {
      padding-right: 30px; /* Espacio para la flecha */
    }
    span {
      font-size: 12px;
      color: var(--color-blue-100);
    }

    legend{
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 30px;
    }
    h3{
      /*margin-inline-end: 35px;*/
      margin-left:10px;
    }
    .hidden {
      display: none;
    }
/* Estilos para la barra de progreso */
    #progress-container {
      position: relative;
      width: 100%;
      height: 4px; /* Línea angosta */
      background-color:var(--color-blue-50); /* Color de fondo claro */
      top: 15px;
    }
    #progress-bar {
      width: 100%;
      height: 100%;
      background-color: var(--color-blue-500); /* Azul cielo */
      transition: width 0.4s ease;
    }
/* Para el mensaje de resultado */
    #status-message {
      
      font-size: 14px;
    }
    .thankYouMessage{    
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
    .response{
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 20px;
    }
    label.GF{ 
    border: solid 1px var(--color-blue-200);
    padding: 2px;
    color: var(--color-blue-200);
    border-radius: 5px;
    min-width: fit-content;
    font-size: smaller;
    margin: 2px;
    }
    
    /*
    #encabezado{
      background-color: var(--color-blue-100);
      border-radius: 10px;
    }
      */
    #headline{   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--color-blue-100);
    margin-bottom: 15px;
    background: var(--color-jw-blue-700);
    color: var(--color-blue-50);
    }
    
/* Estilo del icono de ayuda */
.help-icon {        
  border: solid 1px var(--color-blue-400);
  color: var(--color-blue-500);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--color-blue-100);
  text-align: center;
  border-radius: 25%;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  margin: 5px;
}

.tooltip {
  visibility: hidden;
  width: 250px;
  background-color: var(--color-blue-100);
  color: var(--color-blue-500);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid var(--color-blue-400);
  align-self: center;
}
/* Mostrar el tooltip al pasar sobre el icono */
.help-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
/* MOSTRAR MODAL PROCESAMIENTO*/
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1000; /* Por encima de todo */
  left: 0;
  top: 0;
  width: 100%; /* Ocupa toda la pantalla */
  height: 100%; /* Ocupa toda la pantalla */
  overflow: auto; /* Permite el desplazamiento si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

.modal-content {
  background-color: white; /* Fondo blanco */
  margin: 15% auto; /* Centrado verticalmente */
  padding: 20px; /* Espaciado interno */
  border: 1px solid #888; /* Borde del modal */
  width: 300px; /* Ancho del modal */
  text-align: center; /* Centrar texto */
}
#Refresh #salir{
  display: none;
}
#menumsg{
    display: flex;
    gap: 25px;
}
#menucontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-size: 75%;
}
#menutop{  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 10%;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}   

/*ESTILOS Y COMPONENTE GOOGLE MATERIAL WEB
:root {
  --md-outlined-select-text-field-outline-color: #6e7979;
  --md-outlined-select-text-field-container-shape: 0px;
  --md-outlined-select-text-field-input-text-color: #005353;
  --md-outlined-select-text-field-input-text-font: system-ui;
}
md-outlined-select::part(menu) {
  --md-menu-container-color: #f4fbfa;
  --md-menu-container-shape: 0px;
}
   */
