:root {
    --color-blue-50: #f3f6fb;
    --color-blue-100: #e7edf6;
    --color-blue-150: #dbe5f1;
    --color-blue-200: #cedced;
    --color-blue-300: #a9c1df;
    --color-blue-400: #84a6d1;
    --color-blue-500: #5f8bc3;
    --color-blue-600: #4171ae;
    --color-blue-700: #386195;
    --color-blue-800: #2a4970;
    --color-blue-900: #213957;
    --color-blue-1000: #18293f;
    --color-gray-0: #ffffff;
    --color-gray-50: #f8f8f7;
    --color-gray-100: #f0f0ef;
    --color-gray-150: #e7e6e4;
    --color-gray-200: #d5d4d2;
    --color-gray-300: #bab7b5;
    --color-gray-400: #a29d9a;
    --color-gray-500: #8b8684;
    --color-gray-600: #74706d;
    --color-gray-700: #615d5c;
    --color-gray-800: #4d4947;
    --color-gray-900: #373433;
    --color-gray-1000: #222020;
    --color-green-50: #dff8ef;
    --color-green-100: #c3f1cf;
    --color-green-150: #8ce5a2;
    --color-green-200: #62db81;
    --color-green-300: #39d25f;
    --color-green-400: #2bbe50;
    --color-green-500: #28b04a;
    --color-green-600: #25a244;
    --color-green-700: #1f8639;
    --color-green-800: #1b7933;
    --color-green-900: #155d27;
    --color-green-1000: #0f411b;
    --color-jw-blue-50: #dee7f1;
    --color-jw-blue-100: #8ba3cc;
    --color-jw-blue-200: #7f9ac6;
    --color-jw-blue-300: #7491c1;
    --color-jw-blue-400: #6888bc;
    --color-jw-blue-500: #5c7eb7;
    --color-jw-blue-600: #5075b2;
    --color-jw-blue-700: #4a6da7;
    --color-jw-blue-800: #45659b;
    --color-jw-blue-900: #405e8f;
    --color-jw-blue-1000: #103245;
    --color-orange-50: #ffefe3;
    --color-orange-100: #ffddc1;
    --color-orange-150: #ffca9f;
    --color-orange-200: #ffb77d;
    --color-orange-300: #ffa55b;
    --color-orange-400: #ff9239;
    --color-orange-500: #ff7f17;
    --color-orange-600: #ff7606;
    --color-orange-700: #f46e00;
    --color-orange-800: #e36600;
    --color-orange-900: #c15700;
    --color-orange-1000: #9f4700;
    --color-red-50: #fce7e9;
    --color-red-100: #f8c9cd;
    --color-red-150: #f29ca4;
    --color-red-200: #eb5f6c;
    --color-red-300: #e53243;
    --color-red-400: #ca1a2a;
    --color-red-500: #bb1827;
    --color-red-600: #ac1624;
    --color-red-700: #9d1421;
    --color-red-800: #8e121e;
    --color-red-900: #700e17;
    --color-red-1000: #520a11;
    --color-yellow-50: #fff7da;
    --color-yellow-100: #fff0b8;
    --color-yellow-150: #ffeda7;
    --color-yellow-200: #ffe685;
    --color-yellow-300: #ffdf63;
    --color-yellow-400: #ffdb52;
    --color-yellow-500: #ffd430;
    --color-yellow-600: #ebba00;
    --color-yellow-700: #c99f00;
    --color-yellow-800: #a78400;
    --color-yellow-900: #856a00;
    --color-yellow-1000: #634f00;
    --color-beigelight-50: #f7fae7;
}